@font-face {
	font-family: 'KaushanScript-Regular';
	src:url('../fonts/KaushanScript-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.full {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.row {
	background-color: transparent;
}

.container .welcome {
	font-family: 'KaushanScript-Regular';
	font-size: 30px;
	padding-top: 15%;
}