@font-face {
	font-family: 'KaushanScript-Regular';
	src:url('../fonts/KaushanScript-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.full {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.row {
	background-color: transparent;
}

.container .welcome{
	font-size: 30px;
	font-family: 'KaushanScript-Regular';
	padding-top: 15%;
	text-align: center;
}

.container .welcome h1{
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	color: #655847;
	font-weight: 300;
}

.container .welcome span{
	display: block;
	font-size: 100%;
	color: #89867e;
	padding: 0 0 0.6em 0.1em;
}

.read {
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-size: 35px;
	padding: 10px;
}

/* Poem */
.poem{
	font-size: 20px;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

.poem h1{
	margin-top: 0;
	color: #655847;
}

.poem hr{
	border-top: 1px solid #655847;
}

.poem p{
	margin: 0;
}

.sign{
	font-size: 16px;
}
/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

/* Effect 14: border switch */
.cl-effect-14 a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

/* Social */
.link ul {
    overflow: auto;
    padding-left: 50px;
}
 
.link ul li {
    list-style-type: none;
}
 
.link ul li a i {
    background: transparent;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 4%;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
}
.link .fa-facebook {
    background: transparent;
    border: 1px solid #fff;
    /*background: #3b5998;*/
} 
.link .fa-linkedin {
    background: transparent;
    border: 1px solid #fff;
    /*background:#007bb6;*/
}
.link .fa-twitter {
    background: transparent;
    border: 1px solid #fff;
    /*background:#00aced;*/
}
.link .fa-google-plus {
    background: transparent;
    border: 1px solid #fff;
    /*background:#dd4b39;*/
}
.link ul li a i:hover {
    opacity: .7;
    border: 2px solid #fff;
}

/* Footer */

footer{
	position:fixed;
    bottom:0;
    margin: auto;
    left: 43%;
}

footer p{
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}